name: Receive PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'heat/**'

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'support/') && (github.event.pull_request.draft == false) }}
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@v4.2.2

      - name: Use Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: 3.9
          architecture: x64

      - name: Setup MPI
        uses: mpi4py/setup-mpi@f5f8f979b2090d14bf810bf16836a85793b5d095 # v1.3.1
        with:
          mpi: openmpi
        env:
          OMPI_MCA_pml: ob1

      - name: Test
        run: |
          pip install .[dev]
          pre-commit run --all-files
          python -m unittest

      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: pr_number
          path: pr/
